.index {
  padding: 30px 3% 0;
  & section {
    & h1 {
      margin: 50px 0 10px;
    }
    &:nth-of-type(1) h1 {
      margin: 20px 0 10px;
    }
  }
  & p {
    padding: 0 calc(0.5rem + 1%);
  }
  @media (--sm){
    padding-top: 0;
  }
}
.index__portrait {
  position: relative;
  margin-top: 40px;
  max-width: 400px;
  width: 100%;
  margin: 10px auto 0;
  padding: 0 1rem;
  @media (--sm) {
    margin-left: 0;
    width: 220px;
    padding: 0;
  }
  & img {
    max-width: 100%;
  }
  &:after {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: -20px;
    z-index: 1;
    background-color: var(--blue);
  }
}
