.gallery {
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  & li {
    display: block;
    width: 32%;
    max-width: 400px;
    margin-top: 15px;
    &:nth-child(3n) {
      margin-left: 2%;
    }
    &:nth-child(3n-1) {
      margin-left: 2%;
    }
    & img {
      max-width: 100%;
    }
  }
}
