.headline {
  position: relative;
  & h1 {
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Noto Sans', Helvetica, sans-serif;
    position: relative;
    letter-spacing: 3.5px;
    z-index: 2;
    margin-bottom: 4px;
    line-height: 1.8rem;
  }
  &:before {
    content: '';
    width: 1.5px;
    position: absolute;
    top: -6px;
    height: 60px;
    z-index: 1;
    display: inline-block;
    background-color: var(--blue);
    transform: rotate(45deg);
  }
}
