.slideshow {
  margin: 30px auto;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 58vw;
  @media (--sm) {
    width: 80%;
    height: 35vw;
    margin: -20px auto 30px;
  }
  @media (--md) {
    height: 35vw;
  }
  @media (--lg) {
    height: 38vw;
  }
  @media (--xl) {
    height: 500px;
  }
  & > img {
    max-height: 500px;
    width: 100%;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    animation: show 24s infinite;
    &:nth-of-type(1) {
      animation-delay: 0s;
    }
    &:nth-of-type(2) {
      animation-delay: 4s;
    }
    &:nth-of-type(3) {
      animation-delay: 8s;
    }
    &:nth-of-type(4) {
      animation-delay: 12s;
    }
    &:nth-of-type(5) {
      animation-delay: 16s;
    }
    &:nth-of-type(6) {
      animation-delay: 20s;
    }
  }
}

.logo {
  position: absolute;
  width: 40%;
  max-width: 200px;
  left: calc(30%);
  top: 18vw;
  @media (--sm) {
    width: 32%;
    left: calc(35%);
    top: 12vw;
  }
  @media (--xl) {
    left: calc(50% - 100px);
    top: 180px;
  }
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  6% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
