.titleSvg {
  overflow-x: hidden;
  height: 65px;
  position: relative;
  @media (--sm) {
    height: 120px;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

.titleSvg__item {
  display: flex;
  justify-content: flex-end;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;

  &.index {
    & img {
      width: 99px;
    }
    @media (--sm) {
      top: -1px;
      right: -53px;
      height: 80px;
      & img {
        width: inherit;
      }
    }
  }
  &.mine {
    & img {
      width: 150px;
      height: 55px;
    }
    @media (--sm) {
      height: 114px;
      right: 0px;
      top: -35px;
      & img {
        width: inherit;
        height: inherit;
      }
    }
  }
  &.us {
    & img {
      height: 50px;
      width: 85px;
    }
    @media (--sm) {
      right: 0;
       height: 80px;
      & img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
