/* = = = = = = = = = = = = = = = = = = = = = = = = = =
Me
= = = = = = = = = = = = = = = = = = = = = = = = = = */
.me-item {
  margin-top: 45px;
  a {
    color: darken($blue, 10%);
    &:hover {
      color: $blue;
    }
  }
  .headline {
    @include headline;
  }
  .profile-content {
    padding: 0 40px;
    line-height: 1.8rem;
    @include mq-lg {
      padding: 0 20px;
    }
    @include mq-sm {
      padding: 0 10px;
    }
    @include mq-xs {
      padding: 0 2px;
    }
    &__links {
      display: flex;
      justify-content: center;
      max-width: 350px;
      margin: 0px;
      a {
        color: darken($blue, 10%);
        padding-bottom: 2px;
        &:first-child {
          margin-right: 40px;
        }
        border-bottom: solid 2px darken($blue, 15%);
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.portrait {
  width: 220px;
  position: relative;
  img {
    max-width: 100%;
  }
  &:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: -20px;
    z-index: 1;
    background-color: $blue;
  }
  margin-top: 30px;
  @include mq-xs {
  margin-top: 10px;
    width: 100%;
  }
}

.skill {
  &:not(:first-child) {
    margin-top: 45px;
  }
  &__title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 15px;
    &-decoration {
      color: $blue;
      font-size: .7rem;
      margin-right: 6px;
    }
  }
  &__tag {
    padding: 15px 15px 0;
    background: #fff;
    display: inline-block;
    li {
      display: inline-block;
      font-family: $en;
      font-weight: bold;
      margin-right: 1rem;
      padding: 0 5px 2px;
      font-size: 1rem;
      color: #556;
      margin-bottom: 12px;
      font-family: 'Roboto Mono', monospace, 'Noto Sans', Helvetica, sans-serif ;
    }
  }
  &__content {
    line-height: 2rem;
    ul {
      margin: 20px 10px 18px 40px;
    }
    a {
      color: darken($blue, 10%);
      &:hover {
        color: $blue;
      }
    }
  }
}

.arrow-bottom {
  margin-left: 40px;
  font-weight: bold;
  @include mq-xs {
    margin: auto;
    text-align: center;
    display: block;
  }
}
.contact-dm {
  margin-left: 10px;
  @include mq-xs {
    margin-top: 20px;
    text-align: center;
  }
}