/* = = = = = = = = = = = = = = = = = = = = = = = = = =
Me
= = = = = = = = = = = = = = = = = = = = = = = = = = */

.skill-tag li {
  display: inline-block;
  font-weight: bold;
  margin-right: 1rem;
  padding: 0 5px 3px;
  color: #556;
  border-bottom: solid 2px #779;
  margin-bottom: 12px;
}