/* = = = = = = = = = = = = = = = = = = = = = = = = = =
Mine
= = = = = = = = = = = = = = = = = = = = = = = = = = */
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  &__image {
    width: 100%;
    padding: 15px;
    max-width: 600px;
    grid-column: 1 / 2;
    img {
      width: 100%;
      object-fit: cover;
    }
    a {
      color: $blue;
      font-size: .9rem;
      &:hover {
        color: darken($blue, 15%);
      }
    }
    @media(max-width: 1200px) {
      grid-column: 1 / 3;
    }
    @media(max-width: 768px) {
      width: 100%;
      color: #fff;
    }
  }
  &__assets {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      @media(max-width: 1200px) and (min-width: 991px) {
        flex-direction: row;
      }
      @media(max-width: 1200px) {
        grid-column: 1 / 3;
        width: 100%;
      }
    &-title {
    }
    &-property {
      background: #fff;
      padding: 15px;
      &__skills {
        li {
          display: inline-block;
          background: $gray;
          color: #fff;
          margin-right: 15px;
          font-size: .8rem;
          padding: 1px 8px;
          margin-bottom: 15px;
          border-radius: 1px;
        }
      }
      &__git {
        margin-top: -15px;
        a {
          color: $blue;
          &:hover {
            color: darken($blue, 15%);
          }
        }
      }
    }
  }
  &__content {
    grid-column: 1 / 3;
  }
}