/* = = = = = = = = = = = = = = = = = = = = = = = = = =
Mine
= = = = = = = = = = = = = = = = = = = = = = = = = = */
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin-bottom: 100px;
  @media(min-width: 1600px) {
    grid-template-columns: 680px 1fr;
  }
  @include mq-lg {
    margin-bottom: 75px;
  }
  @include mq-md {
    margin-bottom: 50px;
  }
  @include mq-sm {
    margin-bottom: 30px;
  }
  &__image {
    width: 100%;
    padding: 15px;
    max-width: 600px;
    grid-column: 1 / 2;
    img {
      width: 100%;
      object-fit: cover;
    }
    @include mq-lg {
      grid-column: 1 / 3;
    }
    @include mq-sm {
      width: 100%;
      color: #fff;
    }
    @include mq-sm {
      padding: 3px;
    }
  }
  &__assets {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      padding: 0 25px 0 10px;
      margin-top: 50px;
      @include mq-lg {
        grid-column: 1 / 3;
        width: 100%;
        margin-top: 0px;
      }
      @include only-large {
        flex-direction: row;
      }
      @include mq-md {
        padding: 0;
        margin-top: 10px;
      }
    &-title {
      @include only-large {
        min-width: 320px;
      }
      &__title {
        font-size: 24px;
        letter-spacing: 2.5px;
        margin-bottom: 5px;
        font-weight: bold;
      }
      &__subtitle {
        color: #bbb;
        font-size: .9rem;
        margin-bottom: 15px;
        @include mq-md {
          margin-bottom: 10px;
        }
        @include mq-md {
          margin-bottom: 5px;
        }
      }
      &__url {
        color: darken($blue, 15%);
        font-size: .9rem;
        &:hover {
          color: $blue;
        }
      }
    }
    &-property {
      background: #fff;
      padding: 0px 10px 20px;
      margin-top: 35px;
      max-width: 540px;
      @include only-large {
        margin-top: 0;
        margin-left: 20px;
        padding: 0 3px 10px 10px;
        width: 340px;
      }
      @include mq-md {
        margin-top: 18px;
      }
      &__skills {
        li {
          display: inline-block;
          background: $gray;
          color: #fff;
          margin-right: 15px;
          font-size: .8rem;
          padding: 1px 8px;
          margin-bottom: 15px;
          border-radius: 1px;
        }
      }
      &__git {
        margin-top: -15px;
        span {
          border-bottom: solid 2px #999;
        }
        a {
          color: darken($blue, 15%);
          border-bottom: solid 2px darken($blue, 15%);
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
  &__content {
    grid-column: 1 / 3;
    color: #888;
    font-size: .95rem;
    line-height: 2rem;
    padding: 10px 15px;
    @include mq-lg {
      padding: 10px 40px 10px 0;
    }
    @include mq-lg {
      padding: 10px 0;
    }
  }
}