/* = = = = = = = = = = = = = = = = = = = = = = = = = =
Us
= = = = = = = = = = = = = = = = = = = = = = = = = = */
.background-contaniner {
  width: 80%;
  position: relative;
  margin: auto;
  .us-background {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
  .us-logo {
    position: absolute;
    width: 30%;
    max-width: 200px;
    top: 35%;
    transition: .3s;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
  }
  @include mq-md {
    width: 90%;
  }
  @include mq-sm {
    width: 100%;
  }
  @include mq-xs {
    margin-top: 30px;
    padding: 5px;
  }
  @include mq-xxs {
    margin-top: 0;
    padding: 0;
  }
}

.about-paroleise {
  margin: 80px 0;
  text-align: center;
  font-size: .95rem;
  @include mq-xs {
    margin: 50px 0;
  }
  @include mq-xxs {
    margin: 40px 0;
  }
}

.headline {
  @include headline;
}

.us-item {
  margin-bottom: 50px;
}

.member {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 40px;
  @include mq-xs {
    margin-bottom: 10px;
    padding: 0 0 0 14px;
  }
  &__image {
    max-width: 100px;
    margin-right: 30px;
    img {
      width: 100%;
    }
    @include mq-xs {
      max-width: 55px;
      margin-right: 10px;
    }
  }
  &__assets {
    &-name {
      font-size: 1.1rem;
      @media(max-width: 415px) {
        font-size: .9rem;
        margin-bottom: 4px;
        margin-top: 15px
      }
    }
    &-post {
      font-size: .9rem;
      @media(max-width: 415px) {
        font-size: .8rem;
      }
    }
  }
}

.overview {
  padding: 0 40px;
  font-size: .95rem;
  line-height: 1.8rem;
  @include mq-xs {
    margin-bottom: 30px;
    padding: 0 0 0 14px;
  }
  @include mq-xxs {
    padding: 0 0 0 3px;
  }
  .overview__links {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    margin: 50px auto;
    @include mq-sm {
      margin: 30px auto 50px;
    }
    @include mq-xs {
      margin: 20px auto 60px;
    }
    a {
      color: darken($blue, 10%);
      padding-bottom: 2px;
      border-bottom: solid 2px darken($blue, 15%);
      &:hover {
        color: $blue;
      }
    }
  }
}

.music {
  text-align: center;
  width: 90%;
  margin: 30px auto 0;
  @include mq-xs {
    width: 100%;
  }
  iframe {
    margin-bottom: 30px;
  }
}

.photos {
  padding: 0 40px;
  @include mq-xs {
    margin-bottom: 30px;
    padding: 0;
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    li {
      display: block;
      width: 32%;
      max-width: 400px;
      margin-top: 15px;
      &:nth-child(3n) {
        margin-left: 2%;
      }
      &:nth-child(3n-1) {
        margin-left: 2%;
      }
      img {
        max-width: 100%;
      }
      @include mq-xs {
        margin-top: 9px;
      }
    }
  }
}