@import 'sanitize';
@import 'variable';

/* autoprefixer grid: autoplace */

html {
  background-color: $blue;
}
body {
  background-color: $basecolor;
  color: #777;
  border: solid 6px $blue;
}


/* = = = = = = = = = = = = = = = = = = = = = = = = = =
general
= = = = = = = = = = = = = = = = = = = = = = = = = = */
#root {
  display: grid;
  grid-template-columns: 240px 1fr;
  nav {
    grid-column: 1 / 2;
  }
  .container {
    grid-column: 2 / 3;
  }
  @media(max-width: 768px) {
    grid-template-columns: 160px 1fr;
  }
  @media(max-width: 576px) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px 1fr;
    nav {
      grid-column: 1 / 3;
    }
  }
}

.outline div {
  position: fixed;
  width: 100vw;
  border-bottom: solid 6px $blue;
  height: 6px;
  &:first-child {
    top: 0;
  }
  &:last-child {
    top: calc(100vh - 6px);
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = =
nav
= = = = = = = = = = = = = = = = = = = = = = = = = = */
.navigation-items {
  position: fixed;
  top: 90px;
  display: flex;
  width: 240px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media(max-width: 768px) {
    width: 160px;
  }
  a {
    margin: 20px auto;
    color: #888;
    display: block;
    width: 70px;
    height: 70px;
    line-height: 66px;
    text-align: center;
    border-radius: 50px;
    &.is-active {
      color: $blue;
    }
    &:active {
      box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
      color: $blue;
      transition: .3s;
    }
    @media(min-width: 576px) {
      &:hover {
        box-shadow: 1px 2px 6px rgba(0,0,0,0.4);
        color: darken($blue, 15%);
      }
    }
  }
  .subtitle {
    margin-top: 90px;
    color: #ccc;
    font-weight: bold;
    transform: rotate(90deg);
    user-select: none;
  }

  @media(max-width: 576px) {
    position: static;
    flex-direction: row;
    width: 100%;
    .subtitle {
      display: none;
    }
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = =
head
= = = = = = = = = = = = = = = = = = = = = = = = = = */
.head {
  border: solid 2px gray;
  height: 200px;
  @media(max-width: 576px) {
    margin-top: 45px;
  }
}

/* = = = = = = = = = = = = = = = = = = = = = = = = = =
head
= = = = = = = = = = = = = = = = = = = = = = = = = = */
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  &__image {
    width: 100%;
    padding: 15px;
    max-width: 600px;
    grid-column: 1 / 2;
    img {
      width: 100%;
      object-fit: cover;
    }
    a {
      color: $blue;
      font-size: .9rem;
      &:hover {
        color: darken($blue, 15%);
      }
    }
    @media(max-width: 1200px) {
      grid-column: 1 / 3;
    }
    @media(max-width: 768px) {
      width: 100%;
      color: #fff;
    }
  }
  &__assets {
      grid-column: 2 / 3;
      display: flex;
      flex-direction: column;
      @media(max-width: 1200px) and (min-width: 991px) {
        flex-direction: row;
      }
      @media(max-width: 1200px) {
        grid-column: 1 / 3;
        width: 100%;
      }
    &-title {
    }
    &-property {
      background: #fff;
      padding: 15px;
      &__skills {
        li {
          display: inline-block;
          background: $gray;
          color: #fff;
          margin-right: 15px;
          font-size: .8rem;
          padding: 1px 8px;
          margin-bottom: 15px;
          border-radius: 1px;
        }
      }
      &__git {
        margin-top: -15px;
        a {
          color: $blue;
          &:hover {
            color: darken($blue, 15%);
          }
        }
      }
    }
  }
  &__content {
    grid-column: 1 / 3;
  }
}